.matrix {
    background-image: url('https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif');
}

.code {
    background-image: url('https://media.giphy.com/media/Y0cKnGMCBTNTi/giphy.gif');
}

.green , .green:hover {
    color: green;

}